/*Verhás Gergő, Varga Dávid(cigi), Császár Bálint*/

body {  									/*html oldal törzséhez tartozó beállítások*/
	font-family: Arial, sans-serif; 		/*betűtípus beállítása(Arial,sans-serif-re)*/
	margin: auto;							/*margó beállítása autómatikusra*/
	width: 85%;								/*szélesség beállítása 85%-ra*/
	max-width: 1000px;						/*maximum szélesség 1000 képkocka*/
	text-align: justify;					/*szöveg igazítása sorkizártra*/
	color: #522F00;					   /*szöveg színének beállítása #522F00-re*/
    background-color: #FFF5E8;			   /*háttér színének beállítás #FFF5E8-re*/
}

p:first-letter {							/*bekezdés első betűjének beállítása*/
	margin-left: 20px;						/*bal oldali margóhoz igazítása 20 képkockára*/
}

header {									/*fejléc beállításai*/
	background-image: url('maglya.jpg');	/*háttérkép beállítása maglya.jpg-re*/
	background-repeat: no-repeat;			/*háttérkép ne ismételődjön*/
	background-size: 100% 100%;				/*háttér méretének kiterjesztése 100%*/
	height: 250px; 							/*magasság 250px*/
}

h1,h2{										/*h1,h2 címsorok beállítása*/
	color: #B16400;					   /*szöveg színe:B16400*/
}

img {										/*képek beállítása*/
	border: 2px solid #FFEBD0;			   /*keret legyen 2 képkocka, vastag, #FFEBD0 színű*/
	border-radius: 5px;						/*keret lekerekítése*/
	padding: 5px;							/*kitöltés*/
	margin: 5px 15px;						/*margó távolsága fent: 5 képkocka lent: 15 képkocka*/
	width: 15em; 							/*szélesség*/
	background-color: white;			   /*háttér színe: fehér*/
    min-width: 300px;						/*minimum szélesség: 300px*/
}

.balra {										/*balra nevű osztály beállítása*/
	float: left;								/*egy másik elemen belül balra igazítás*/
}
.jobbra {										/*jobbra nevű osztály beállítása*/
	float: right;								/*egy másik elemen belül jobbra igazítás*/
}

q {												/*rövid idézet beállítása*/
	font-style: italic;							/*a betű stílust beállítja dőltre*/
}

li {											/*listaelem beállítása*/
	margin-bottom: 25px;						/*margó távolsága lent legyen 25 képkocka*/
    list-style-image: url(jel.png);				/*kicseráli a lista elemet jelölő pontot a jel.png nevezetű képre*/
}

footer{											/*lábléc beállítása*/
	background-color: #FFEBD0;					/*háttérszín legyen: #FFEBD0*/
	background-image: url('buso_logo.png');		/*háttérkép legyen: buso_logo.png*/
	background-repeat: no-repeat;				/*beállítja, hogy a háttérkép ne ismétlődjön*/
	background-position: right center;			/*háttérkép kezdő pozíciója legyen a jobb oldalon középen*/
	background-size: 55px; 						/*háttérkép mérete legyen 55 képkocka*/
	height: 60px;								/*magassága legyen 60 képkocka*/
	padding-top: 20px;							/*fenti kitöltés legyen 20 képkocka*/
	margin-bottom: 0px;							/*margó távolsága alul legyen 0 pixel*/
	font-size: 0.8em;							/*betűméret legyen 0.8-as betűméretre*/
}

@media screen and (max-width:600px) {			/*ha a képernyő szélessége 600 pixel alatt lesz, akkor lefutnak a benne található utasítások*/
  .balra, .jobbra {								/*a 'balra' és 'jobbra' osztályok beállítása*/
	float: none;								/*nincs igazítás*/
    display: block;								/*a megjelenítendő elemet egy új bekezdésben fogja megjeleníteni*/
    margin-right: auto;							/*jobb oldali margó legyen automatikus méretű*/
    margin-left: auto;							/*bal oldali margó legyen automatikus méretű*/
  }
}
